body
{
  min-height:100vh;
  position:relative;
}


footer
{    
  position: absolute;
  bottom: -75px;
  width: 100%;
  padding: 22px 0 10px 22px;
  color: var(--solida13);
  background-color: var(--solida1);
  box-shadow: 0 -4px 4px 0px rgba(0, 0, 0, 0.1);
}

li.number
{
  position: relative;
  bottom: 10px;
  color: rgb(36, 167, 36);
}

.container 
{
    margin: 0 auto;
}

.container::after, .container::before
{
  content: '';
  display: table;
  clear: both;
}

.name
{
  font-family: 'roboto';
  font-size: 0.75rem;
  font-weight: bold;
  float: left;
}

.nav 
{
  float: right;
}

.nav li
{
  display: inline-block;
}

.nav a 
{
  display: block;
  text-decoration: none;
  color: var(--solida1);
  font-family: 'eczar', sans-serif;
  font-size: 1.25rem;
  transition: all 0.3s;
}

li 
{
  margin: 0 1.125rem;
}