.timeline-container
{
    display: flex;
    padding: 5px;
    border: 1px solid var(--solida2);
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    margin: 20px 0 20px 20px;
    height: 400px;
    overflow-y: auto;
    scrollbar-width: 2px;
}

.timeline-container:hover
{
    border: 1px solid var(--solida3);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.timeline-container::-webkit-scrollbar
{
    width: 12px;           
}

.timeline-container::-webkit-scrollbar-track
{
    background: transparent;
}

.timeline-container::-webkit-scrollbar-thumb
{
    background-color: var(--primario1); 
    border: 1px solid var(--primario5);   
    border-radius: 20px;       
}

.timeline-date
{
    display: flex;
    width: 75px;
    height: 50px;
    border-radius: 25px 0;
    justify-content: center;
    align-items: center;
    background-color: var(--primario1);
    color: var(--primario14);
    font-family: 'eczar', sans-serif;
    font-weight: 700;
}

.timeline-text
{
    margin: 0 0 0 80px;
}

.timeline-text h3
{
    font-family: 'roboto', sans-serif;
    color: var(--primario4);
    margin: 60px 0 0 0;
}

.timeline-text h4
{
    margin: 6px 0 0 0;
    max-width: 350px;
    overflow: hidden;
    color: var(--primario3);
    font-family: 'roboto', sans-serif;
}
.timeline-month
{
    font-size: 0.5rem;
    font-family: 'roboto';
    color: var(--solida1);
}

.vertical-bar::after
{
    content: '';
    position: relative;
    bottom: -106px;
    right: 20px;
    z-index: -2;
    width: 2px;
    height: 170px;
    background-color: var(--primario1);
}

.vertical-bar-upper-item::after
{
    content: '';
    position: relative;
    bottom: -115px;
    right: 20px;
    z-index: -2;
    width: 2px;
    height: 190px;
    background-color: var(--primario1);
}

.vertical-bar-month::after
{
    content: '';
    position: relative;
    bottom: -88px;
    right: 2px;
    z-index: -2;
    width: 170px;
    transform: rotate(90deg);
    height: 2px;
    background-color: var(--primario1);
} 

.horizontal-bar::after
{
    content: '';
    display: flex;
    position: relative;
    overflow: hidden;
    right: 45px;
    width: 400px;
    height: 2px;
    background-color: var(--primario1);
}

.container-experience
{
    margin: 20px 0 0 0;
    display: flex;
    gap: 20%;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}